body{ 
   margin: 0px;
   padding: 0px 150px;
}
*{
font-family: 'Roboto Mono', monospace;
}

/*-----------------------------Header -----------------------------------*/

#header{ 
   height:60vh;
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/flutter.jpg);   background-position: center;
   background-size: cover;
   background-attachment: fixed;

}

.user-box{
   left:50%;
   top: 50%;
   position:absolute;
   width: 80%;  
   transform: translate(-50%, -25%);
   
}

.user-box img{
   border-radius: 50%;
   width:250px;
   height: 250px;
  border: 2px solid rgb(14, 13, 13);
  
}
.user-box img:hover{
   transform: scale(2);
}

.user-box h1{
   color : rgb(0, 0, 0);
   margin: 10px;
  
   
}

.user-box p{ 
   color : rgb(0, 0, 0);
}
.user-box a{
   text-decoration: none;
}



.tech{
   
    margin-left: 12px;
    margin-right: 11px;
   height:137vh;
   
 .col-2{
    margin-top:50px;
    margin-bottom:20px;
   
  
 } 
}

.tech .row .col-4{
padding-left: 50px;
background-color: rgba(74,159,230,1);
}

.tech .row .col-4 h6{
   margin-top:50px;
}

.tech .row .col-4 .Interest{
   margin-top:40px;
}



.contactfooter .sociallinks a img{
   border-radius:50%;
   width:50px;
   height: 50px;
   vertical-align: middle;
   
}
.contactfooter .sociallinks a img:hover{
   cursor: pointer;
   background:rgb(45, 47, 58);
}

.contactfooter{
  background:rgba(50, 50, 50,1);
  color:rgba(181,184,184,1);
  
}

.sociallinks a img{
   margin-right: 20px;
   margin-left:  20px;
   margin-top:  10px;
}

.col-8{
   background:rgba(50,50,50,1);
   color:rgba(181,184,184,1);
}

.col-8 h5{
   color:rgba(74,159,230,1);
}

.col-8 .head{
   margin-top:10px;
   width:40%;
   background:rgba(184, 184,184, 1);
   color: black;
}
.col-8 .course .head{
   margin-top:10px;
   width:50%;
   background:rgba(184, 184,184, 1);
   color: black;
}
.col-8 .Education .head{
   margin-top:10px;
   width:40%;
   background:rgba(184, 184,184, 1);
   color: black;
}


.tech  .row .col-4 .progress .progress-bar{
   background-color: rgba(50, 50, 50,1);
}

.tech .row .col-4 .progress{
   background-color:rgba(53, 53, 53, 0.4);
}
